build/
build-qt61/
dist/
.vs/
.idea/
.vscode/

*.user
*.suo
*.obj
*.pch
*.pdb
*.ilk
*.idb
*.tlog
*.lastbuildstate
*.recipe
*.log

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

*.vcxproj.user
*.VC.db
*.opendb
DEVELOPMENT_PLAN.md
